body{
    margin: 0px;
    padding: 0px;
    background-image: url(https://scontent.fixr3-3.fna.fbcdn.net/v/t39.30808-6/280521611_369675861791109_5917831498881119676_n.jpg?stp=dst-jpg_p720x720&_nc_cat=110&ccb=1-7&_nc_sid=e3f864&_nc_ohc=bUNL6SHkrFkAX8mmRwF&_nc_ht=scontent.fixr3-3.fna&oh=00_AfD8TJHeetNOEp_lxAoJrD4qnB_7PsSoC-c2S2sb1xMU1g&oe=6445ADFE);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.login{
    width: 400px;
    overflow: hidden;
    /* margin auto center me kiya hai bs  */
    margin: auto;
    /* margin: 20 0 0 450px; */
    padding: 80px;
    background-color: rgb(217, 0, 255);
    border-radius: 10px;
}
h2{
    text-align: center;
    color:black;
    font-size:40px;
    padding: 20px;
}
label{
    color: rgb(20, 227, 227);
    font-size: 20px;
}

#username{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 7px;

}
#password{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 7px;

}
#log{
    width: 307px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding-left: 7px;
color: blue;
}

span{

    font-size: 20px;
}
a{
    /* background-color: rgb(178, 178, 186); */
    float: right;
    /* color: black; */
}